<?xml version="1.0"?>
<config>
    <modules>
        <Belvg_Cymbio>
            <version>1.0.0</version>
        </Belvg_Cymbio>
    </modules>
    <global>
        <blocks>
            <cymbio>
                <class>Belvg_Cymbio_Block</class>
            </cymbio>
        </blocks>
        <models>
            <cymbio>
                <class>Belvg_Cymbio_Model</class>
                <resourceModel>cymbio_resource</resourceModel>
            </cymbio>
            <cymbio_resource>
                <class>Belvg_Cymbio_Model_Resource</class>
                <deprecatedNode>cymbio_mysql4</deprecatedNode>
                <entities>
                    <cymbio>
                        <table>cymbio</table>
                    </cymbio>
                </entities>
            </cymbio_resource>
        </models>
        <resources>
            <cymbio_setup>
                <setup>
                    <module>Belvg_Cymbio</module>
                </setup>
            </cymbio_setup>
        </resources>
        <helpers>
            <cymbio>
                <class>Belvg_Cymbio_Helper</class>
            </cymbio>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <cymbio>
                    <file>cymbio.xml</file>
                </cymbio>
            </updates>
        </layout>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <afterProductAdd>
                        <class>cymbio/observer</class>
                        <method>afterProductAdd</method>
                    </afterProductAdd>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </frontend>
</config>